

[Unit]
Description=duckctl
After=multi-user.target

[Service]
Restart=always
WorkingDirectory=/home/pi
User=pi
ExecStart=/usr/bin/python /home/pi/duck/controller/gamepad.py

[Install]
WantedBy=multi-user.target